.idea
.env
.vscode
.claude
/.claude/
makefile

storage/cache/*.data
storage/logs/*.log
storage/logs/*.sql

postgres_db
postgresql_conf
CLAUDE.md
*.ia.md
claude.md
/tunnel-key
/Tests/k6/*.log
/Tests/curl/*.log
